!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title IFAD IoT
    %link{:href => "/stylesheets/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/stylesheets/bootstrap-theme.min.css", :rel => "stylesheet"}/
    %link{:href => "/stylesheets/nv.d3.css", :rel => "stylesheet"}/

    %script{:src => "/javascripts/jquery-1.12.0.js"}
    %script{:src => "/javascripts/bootstrap.min.js"}
    %script{:src => "/javascripts/d3.v3.min.js"}
    %script{:src => "/javascripts/nv.d3.js"}
    %script{:src => "/javascripts/faye.js"}
  %body
    .container
      .row
        .col-md-8
          #line-chart
            %svg{style: 'height: 400px; width: 100%'}

          %table#data.table.table-hover
            %thead
              %tr
                - Device::COLUMNS.each do |c|
                  %th= c
            %tbody
        .col-md-4
          #bar-chart
            %svg{style: 'height: 400px; width: 100%'}
          #compass.text-center
            %img{src: '/stylesheets/compass.png', style: 'width: 100%'}
    %script{:src => "/javascripts/client.js"}
